@import '~bootstrap/scss/bootstrap';

// HEADER
header{
    .logo{
        img{
            width: 70px;
        }
    }
    .my-list{
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
        list-style: none;
        li{
            font-weight: 600;
            cursor: pointer;
            &:hover{
                color: rgb(20, 90, 255);
            }
        }
    }
}
//MAIN
.jumbo{
    width: 100%;
    height: 400px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
}
.comic{
    .comic-img{
        img{
            width: 200px;
            height: 250px;
        }
    }
    .comic-title{
        color: white;
    }
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
        width: 50px;
    }
    h6{
        color: white;
    }
}
// FOOTER
footer{
    background-image: url('../images/footer-bg.jpg');
    .bg-footer{
        height: 500px;
        background-image: url('../images/dc-logo-bg.png');
        background-size: cover;
    }
    .lists-group{
        display: flex;
        gap: 30px ;
        margin: 20px 0;
        color: white;
        .footer-list ul{
            padding-left: 0;
            list-style: none;
            color: #717171;
            font-size: 14px; 
        }
    }
    .my-btn{
        padding: 10px 20px;
        border: 2px solid rgb(20, 90, 255);
        font-size: 20px;
        color: white;
    }
}